name: Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - uses: renovatebot/github-action@v40.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}